body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 250vh;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.header,
.block-1,
.footer {
    background-color: #1f2937;
    color: white;
}

.block-2,
.block-3 {
    background-color: white;
    color: #6f7782;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    margin-left: 200px;
    font-size: 32px;
    font-weight: 700;
}

.header-list {
    margin-right: 200px;
    font-size: 24px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50px;
}

.text {
    margin-bottom: 16px;
}

ul {
    display: flex;
    gap: 16px;
    list-style: none;
}

.main-title {
    font-size: 60px;
    font-weight: 900;
}

.placeholder {
    height: 350px;
    max-width: 650px;
    background-color: #6d747d;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin-right: 200px;
}

.container-1 {
    flex: 1;
    height: 350px;
    max-width: 500px;
    margin-left: 200px;
}

.button-1 {
    padding: 12px;
    padding-left: 48px;
    padding-right: 48px;
    border-radius: 10px;
    border-style: none;
    font-size: 24px;
    font-weight: 900;
    color: white;
}

.box {
    display: flex;
    justify-content: center;
    height: 150px;
    width: 150px;
    border: 4px;
    border-color: blue;
}

.card-container {
    display: flex;
    gap: 32px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 150px;
    text-align: center;
}

.quote {
    font-size: 32px;
    margin-left: 32px;
}

.quote-container {
    display: flex;
    flex-direction: column;
    max-width: 750px;
}

.quote-name {
    align-self: flex-end;
    margin-right: 16px;
}

.block-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 32px;
}

.block-2 {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.block-3 {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.block-4 {
    display: flex;
    flex: 1;
    justify-content: center;
}